.header {
    padding: 1rem 0 3rem;
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.navlist {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.navitem {
    font-size: 0.9rem;
    color: #999999;
    text-decoration: none;
    margin-right: 1.3rem;
}

.navitem:hover {
    color: #666666;
}

.activeNavItem {
    color: #333333;
}